<div class="footerTopSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>О проекте</h3>

                <p>
                    Семейный сервер <strong>игры Майнкрафт</strong><br/>
                    в Беларуси и CIS.
                </p>
                <h3>Помочь проекту</h3>

                <p>
                        <a href="https://boosty.to/mobserver/donate">Поддержать на Boosty</a><br/>
                        <a href="https://yoomoney.ru/to/410019002699740">ЮМоней перевод</a><br/>
                </p>

            </div>
            <div class="col-md-4">
                <h3>Быстрая навигация</h3>

                <p>
                    <span>Здесь Вы сможете найти много полезной для Вас информации:</span><br/><br/>
                    <a href="{% url 'library:article_detail' 'how-to-setup-minecraft' %}">Как установить игру Майнкрафт?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-play-minecraft' %}">Как играть в Майн?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-claim-land-grief-prevention' %}">Как приватить Участок?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-trade-with-users' %}">Как торговать с игроками?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-earn-money-jobs' %}">Как заработать деньги в игре?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-become-an-architect' %}">3/4 Архитектора или Как стать Дойлiдам!?</a><br/>
                    <a href="{% url 'library:article_detail' 'our-not-written-rules' %}">Негласные правила нашего сервера</a><br/>
                    <a href="/map/">Карта сервера</a><br/>
                </p>


            </div>
            <div class="col-md-4">
                <h3>Свяжитесь с нами</h3>

                <p>
                    E-mail : <a class="hide-email" href="#">Please enable Javascript to view</a><br/>
                </p>

                <h3>Будь на связи</h3>
                <p>
                   ВКонтакте: <a href="http://vk.com/minecraftofby" target=_blank>vk.com/minecraftofby</a><br/>
                   Discord: <a href="https://bit.ly/mob-discord" target=_blank>bit.ly/mob-discord</a>
                </p>

                <h3>Проголосуй за нас</h3>
                <p><link rel="stylesheet" href="https://mineserv.top/widgets.min.css"> <a href="https://mineserv.top/minebel" target="_blank" rel="noopener noreferrer" class="mn-srv-btn mn-srv-btn--small"><span class="mn-srv-btn__icon"><svg width="16" height="16" viewBox="0 0 360 360"><g fill="none" fill-rule="evenodd"><path d="M0 0H360V360H0z" transform="translate(-371 -350) translate(371 350)"></path> <g fill="#FFF"><path d="M253.844 259.461L253.844.539 203.075.539 203.065 52.329 152.307 52.324 152.307 104.108 203.065 104.108 203.075 259.461zM152.307 156.432L152.307 104.647 101.538 104.647 101.538 156.432zM50.769.539L0 .539 0 259.461 50.769 259.461 50.769 104.108 101.538 104.108 101.538 52.324 50.769 52.324z" transform="translate(-371 -350) translate(371 350) translate(53 50)"></path></g></g></svg></span> <span class="mn-srv-btn__text">Мы на Mineserv</span></a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">


<div id="cookieConsentGDPR" class="alert alert-info fade in" role="alert" style="position: fixed; bottom: 0; left: 0; width: 100%; margin: 0; z-index: 9999; display: none;">
  <strong>Мы используем cookies</strong> для корректной работы сайта и повышения удобства пользователей.
  <br>
  <small>
    Подробнее читайте в <a href="/policy/" target="_blank">Политике конфиденциальности</a> и <a href="/terms-and-conditions/" target="_blank">Условиях использования</a>.
  </small>
  <div style="margin-top: 10px;">
    <button type="button" class="btn btn-default btn-xs" id="cookieConsentNecessary">Только необходимые</button>
    <button type="button" class="btn btn-info btn-xs" id="cookieConsentSettings">Настроить</button>
    <button type="button" class="btn btn-primary btn-xs" id="cookieConsentAcceptAll">Принять все</button>
  </div>
</div>

<!-- Модальное окно для настройки cookies -->
<div id="cookieSettingsModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Настройки cookies</h4>
      </div>
      <div class="modal-body">
        <form id="cookieSettingsForm">
          <div class="checkbox">
            <label>
              <input type="checkbox" checked disabled> Необходимые cookies (обязательны)
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="analyticsCookies"> Аналитические cookies
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" id="marketingCookies"> Маркетинговые cookies
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="saveCookieSettings" data-dismiss="modal">Сохранить настройки</button>
      </div>
    </div>
  </div>
</div>


            </div>
        </div>
 
    </div>
</div>
<div class="footerBottomSection">
    <div class="container">
        &copy; 2015 &mdash; 2026, Все права защищены. <a href="/terms-and-conditions/">Условия использования</a> | <a href="/policy/">Политика безопасности</a>

        <div class="pull-right"><a href="/"><img alt="Главная страница"
                                                 src="/static/img/footerlogo.jpg"></a></div>
    </div>
</div>