<div class="footerTopSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>О проекте</h3>

                <p>
                    Сервер <strong>игры Майнкрафт</strong><br/>
                    в Беларуси.
                </p>
                <!--
                <h3>Хотите быть вкурсе</h3>

                <p>Хотите получать нашу информационную рассылку?</p>

                <div>
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="subscribeInputEmail" class="sr-only">Ваш Email</label>
                            <input type="email" placeholder="Введите Вaш Email" id="subscribeInputEmail"
                                   class="form-control">
                            <button class="btn btn-brand" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div> -->
                <h3>Наши партнёры</h3>

                <p>
                    <noindex>
                        <a href="http://aws.amazon.com/ru/" rel="nofollow">AWS Amazon</a><br/>
                        <a href="http://www.spigotmc.org/" rel="nofollow">Spigot MC</a>
                    </noindex>
                </p>

            </div>
            <div class="col-md-4">
                <h3>Быстрая навигация</h3>

                <p>
                    <span>Здесь Вы сможете найти много полезной для Вас информации:</span><br/><br/>
                    <a href="#">Как играть?</a><br/>
                    <a href="#">Как приватить?</a><br/>
                    <a href="#">Как заработать деньги в игре?</a><br/>
                    <a href="#">Наши проекты</a><br/>
                </p>


            </div>
            <div class="col-md-4">
                <h3>Свяжитесь с нами</h3>

                <p>
                    Skype : <a href="skype:mob-admin?chat">mob-admin</a><br/>
                    E-mail : <a mailto="info@minecraft.of.by">info@minecraft.of.by</a><br/>
                    Web : <a href="minecraft.of.by">minecraft.of.by</a><br/>
                </p>

                <!-- <h3>Будь на связи</h3>

                <p>
                    Вы можете отыскать нас в социальных сетях:
                </p>
                F, V, T, G -->
            </div>
        </div>
    </div>
</div>
<div class="footerBottomSection">
    <div class="container">
        &copy; 2015, Все права защищены. <a href="#">Условия использования</a> | <a href="#">Политика безопасности</a>

        <div class="pull-right"><a href="/"><img alt="Главная страница"
                                                 src="/static/img/footerlogo.jpg"></a></div>
    </div>
</div>