<div class="footerTopSection">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>О проекте</h3>

                <p>
                    Семейный сервер <strong>игры Майнкрафт</strong><br/>
                    в Беларуси.
                </p>
                <!--
                <h3>Хотите быть вкурсе</h3>

                <p>Хотите получать нашу информационную рассылку?</p>

                <div>
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="subscribeInputEmail" class="sr-only">Ваш Email</label>
                            <input type="email" placeholder="Введите Вaш Email" id="subscribeInputEmail"
                                   class="form-control">
                            <button class="btn btn-brand" type="submit">Подписаться</button>
                        </div>
                    </form>
                </div> -->
                <h3>Наши партнёры</h3>

                <p>
                    <noindex>
                        <a href="http://aws.amazon.com/ru/" rel="nofollow">AWS Amazon</a><br/>
                        <a href="http://www.spigotmc.org/" rel="nofollow">Spigot MC</a>
                    </noindex>
                </p>

            </div>
            <div class="col-md-4">
                <h3>Быстрая навигация</h3>

                <p>
                    <span>Здесь Вы сможете найти много полезной для Вас информации:</span><br/><br/>
                    <a href="{% url 'library:article_detail' 'how-to-setup-minecraft' %}">Как установить игру Майнкрафт?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-play-minecraft' %}">Как играть в Майн?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-claim-land-grief-prevention' %}">Как приватить Участок?</a><br/>
                    <a href="{% url 'library:article_detail' 'how-to-trade-with-users' %}">Как торговать с игроками?</a><br/>
                    <a href="/map/">Карта сервера</a><br/>
                </p>


            </div>
            <div class="col-md-4">
                <h3>Свяжитесь с нами</h3>

                <p>
                    Skype : <a href="skype:mob-admin?chat">mob-admin</a><br/>
                    E-mail : <a class="hide-email" href="#">Please enable Javascript to view</a><br/>
                    Web : <a href="https://майн.бел">майн.бел</a><br/>
                </p>

                <h3>Будь на связи</h3>
                <p>
                   ВКонтакте: <a href="http://vk.com/minecraftofby" target=_blank>vk.com/minecraftofby</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="footerBottomSection">
    <div class="container">
        &copy; 2015-2018, Все права защищены. <a href="/terms-and-conditions/">Условия использования</a> | <a href="/policy/">Политика безопасности</a>

        <div class="pull-right"><a href="/"><img alt="Главная страница"
                                                 src="/static/img/footerlogo.jpg"></a></div>
    </div>
</div>