{% extends "base.html" %}

{% block base_content %}

<!-- Page Content -->
<div class="container">
    <p>Для начала тебе необходимо запустить лаунчер и авторизоваться (ввести свой почтовый адрес и пароль, которые ты
        получил при регистрации <a href="https://minecraft.net/download">на сайте Mojang.com</a>). Наш сервер работает на ядре 1.8.х,
        значит выбирай любую из версий, лучше&nbsp;&mdash; самую свежую из этой линейки.</p>

    <div class="container">
    <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine01.png" alt="">
                  <div class="caption">
                    <h4>Установка Майнкрафт - шаг 1</h4>
                    <p>Приглашение к установке игры Майнкрафт. Просто жми "Далее" (Next)</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine02.png" alt="">
                  <div class="caption">
                    <h4>Установка Майнкрафт - шаг 2</h4>
                    <p>Место, куда будет установлена игра. Отмеченый чекбокс означает, что для тебя будет создан ярлык на рабочем столею Нажимай "Далее" (Next)</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine03.png" alt="">
                  <div class="caption">
                    <h3>Установка Майнкрафт - шаг 3</h3>
                    <p>Отмеченый чекбокс означает, что игры будет запущена сразу после установки.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <p>Наш Майнкрафт сервер доступен по адресу <strong>minecraft.of.by</strong>. Чтобы подключиться к серверу, тебе нужно
        выбрать пункт в меню <strong>"Сетевая Игра"</strong>,
        потом выбрать <strong>"Добавить"</strong> и ввести любое название и наш адрес&nbsp;&mdash; minecraft.of.by. Если сервер он-лайн&nbsp;&mdash; смело
        выбирай его и жми <strong>"Подключиться"</strong></p>

    <div class="container">
    <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine04.png" alt="Запуск клиента Майнкрафт">
                  <div class="caption">
                    <h4>Запуск клиента Майнкрафт - шаг 1</h4>
                    <p>Сразу после запуска тебе нужно авторизоваться и ввести свой адрес электронной почты и пароль своего аккаунта, который ты зарегистрировал ранее <a href="https://minecraft.net/">на сайте Mojang.com</a> </p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine05.png" alt="Запуск игры Майнкрафт">
                  <div class="caption">
                    <h4>Запуск игры Майнкрафт - шаг 2</h4>
                    <p>После успешной авторизации, лаунчер создаст для тебя игровой профиль (Profile) с послдней версий игры (например, 1.8.9). Жми смело "Play"</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine06.png" alt="Как играть по сети в Майнкрафт, сетевой режим игры">
                  <div class="caption">
                    <h3>Как играть по сети в Майнкрафт  - шаг 4</h3>
                    <p>Для того, чтобы играть по сети - выбирай Сетевая игра. Кстати, не забудь сменить язык на русский нажав на иконку влева внизу.</p>
                    <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
    <div class="row-fluid">
            <ul class="thumbnails">
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine07.png" alt="Добавление нового игрового сервера в Майнкрафт">
                  <div class="caption">
                    <h4>Добавление нашего сервера - шаг 5</h4>
                    <p>Для того, чтобы добавить новый игровой сервер Майнкрафт - нажми Добавить</p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine08.png" alt="Подключение к игровому серверу Майнкрафт minecraft.of.by">
                  <div class="caption">
                    <h4>Добавление нашего сервера - шаг 6</h4>
                    <p>Укажи любое имя (например MOB), и наш сетевой адрес - <strong>minecraft.of.by</strong></p>
                  </div>
                </div>
              </li>
              <li class="span4">
                <div class="thumbnail">
                  <img data-src="/media/mine09.png" alt="Подключение к игровому серверу Майнкрафт minecraft.of.by">
                  <div class="caption">
                    <h3>Подключение к игровому серверу Майнкрафт - шаг 7, последний</h3>
                    <p>Бинго. Если сервер в сети, ты увидишь его статус и число игроков онлайн. Смело подключайся!</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
    </div>

    <p>Если все прошло успешно, ты окажешься на нашем лобби, где тебе нужно будет пройти регистрацию (если ты подключаешься
        первый раз), либо ввести свой пароль (если ты уже регистрировался на нашем сервере раньше):</p>

    <ol>
        <li>Если ты вошел на наш сервер первый раз&nbsp;&mdash; тебе предложат зарегистрироваться при помощи команды: <span class="text-success">/register пароль пароль</span></li>


        <blockquote>
            <p><strong>Замечание!</strong> &nbsp;&mdash; пароль это секретная фраза из англ. символов и/или цифр, например /register Secret123 Secret123.</p>
            <p>Учти, что мы не знаем и не будем знать твой пароль и не сможем его тебе выслать, если ты его забудешь.
               Чтобы сбросить пароль, воспользуйся сервисом "Восстановадение пароля" на нашем сайте&nbsp;&mdash; это сработает, только
               если ты указал свой почтовый адрес либо закончил регистрацию на сайте и активировал свой Личный кабинет)</p>
        </blockquote>

        <li>Если ты уже зарегистрирован на нашем сервере, просто вводи команду: <span class="text-success">/l пароль или /login пароль</span></li>

        <blockquote>
        <p><strong>Замечание!</strong>Бывают случаи, когда твой игровой Ник уже кем-то занят&nbsp;&mdash; в таком случае тебе нужно будет сделать
            следующее:</p>
        <ul>
            <li> если у тебя лицензия на Майн&nbsp;&mdash; напиши Администратору письмо и мы придумаем как это исправить;</li>
            <li>если ты заходишь с пиратской версии, то мы ничем не сможем тебе помочь&nbsp;&mdash; попробуй просто сменить себе
                ник в лаунчере или купи наконец игру&nbsp;&mdash; она этого стоит.
            </li>
        </ul>
        </blockquote>
</div>
    </ol>



{% endblock %}














