<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{% if not current_page.is_home %}/{% endif %}#page-top">майн.бел</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a class="page-scroll" href="/about/">о проекте</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% if not current_page.is_home %}/{% endif %}#howtoplay">как играть</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% if not current_page.is_home %}/{% endif %}#faq">FAQ</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://boosty.to/mobserver/" target=_blank>поддержать нас</a>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle"
                       href="/map/">карта <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="page-scroll" href="/survival/">Карта Выживания</a></li>
                        <li><a class="page-scroll" href="/creative/">Карта Креатива</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle"
                       href="/library/">новости <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a href="/library/mob-new-year-2026/" class="page-scroll"><span class="badge badge-pill badge-success">31-дек-25</span> Поздравляем с Новым 2026 годом!</a></li>
                        <li><a href="/library/mob-server-need-your-help/" class="page-scroll"><span class="badge badge-pill badge-success">29-дек-25</span> Серверу нужна ваша помощь</a></li>
                        <li><a href="/library/mob-update-12110/" class="page-scroll"><span class="badge badge-pill badge-success">28-дек-25</span> Сервер обновлён до версии 1.21.10</a></li>
                        <li class="divider"></li>
                        <li><a href="/library/mob-update-1211/" class="page-scroll"><span class="badge badge-pill badge-secondary">09-ноя-24</span> Сервер обновлён до версии 1.21.1</a></li>
                        <li class="divider"></li>
                        <li><a href="/library/mob-newyear-2024/" class="page-scroll"><span class="badge badge-pill badge-secondary">31-дек-23</span> Поздравляем с Новым 2024 годом! </a></li>
                        <li><a href="/library/mob-update-1201/" class="page-scroll"><span class="badge badge-pill badge-secondary">29-июл-23</span> Сервер обновлён до версии 1.20.1</a></li>
                        <li class="divider"></li>
                        <li><a href="/library/mob-update-1193/" class="page-scroll"><span class="badge badge-pill badge-secondary">31-дек-22</span> Поздравляем с Новым 2023 годом! </a></li>
                        <li><a href="/library/mob-server-relocated/" class="page-scroll"><span class="badge badge-pill badge-secondary">26-ноя-22</span> Сервер снова доступен игрокам</a></li>
                        <li><a href="/library/server-offline-relocation/" class="page-scroll"><span class="badge badge-pill badge-secondary">26-сент-22</span> Сервер временно недоступен!</a></li>
                        <li><a href="/library/server-update-1192/" class="page-scroll"><span class="badge badge-pill badge-secondary">21-сент-22</span> Сервер обновлён до версии 1.19.2</a></li>
                        <li class="divider"></li>
                        <li><a href="/library/survival-update-1181/" class="page-scroll"><span class="badge badge-pill badge-secondary">31-дек-21</span> Поздравляем с Новым 2022 годом!</a></li>
                        <li><a href="/library/vanilla-update-118/" class="page-scroll"><span class="badge badge-pill badge-secondary">5-дек-21</span> Ванильный сервер обновлён до версии 1.18</a></li>
                        <li><a href="/library/mob-update-1171/" class="page-scroll"><span class="badge badge-pill badge-secondary">8-авг-21</span> Обновление сервера до версии 1.17.1</a></li>
                        <li><a href="/library/mob-newyear-2021/" class="page-scroll"><span class="badge badge-pill badge-secondary">1-янв-21</span> Поздравляем с Новым 2021 годом!</a></li>
                        <li class="divider"></li>
                        <li><a href="/library/?page=1" class="page-scroll"><span class="badge badge-pill badge-secondary">2016-2020</span> Архив новостей</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a aria-expanded="false" role="button" data-toggle="dropdown" class="dropdown-toggle"
                       href="/library/">библиотека <span class="caret"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a class="page-scroll" href="/library/how-to-play-minecraft/">Как играть в Майнкрафт</a></li>
                        <li><a class="page-scroll" href="/library/how-to-claim-land-grief-prevention/">Как приватить Участки</a></li>
                        <li><a class="page-scroll" href="/library/how-to-setup-minecraft/">Как установить игру Майнкрафт?</a></li>
                        <li><a class="page-scroll" href="/library/how-to-trade-with-users/">Как торговать с игроками?</a></li>
                        <li><a class="page-scroll" href="/library/how-to-earn-money-jobs/">Как заработать деньги в игре?</a></li>
                        <li><a class="page-scroll" href="/library/how-to-become-an-architect/">&#190; Архитектора или Как стать Дойлiдам!?</a></li>
                        <li><a class="page-scroll" href="/library/our-not-written-rules/">Негласные правила нашего сервера</a></li>
                        <li><a class="page-scroll" href="/changelog/">История проекта</a></li>
                        <li class="divider"></li>
                        <li><a href="/game-rules/">Правила сервера</a></li>
                        <!-- <li><a href="/forums/">Курилка</a></li> -->
                    </ul>
                </li>
                <li>
                    <a class="page-scroll" href="{% if not current_page.is_home %}/{% endif %}#projects">проекты</a>
                </li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="/auth/logout/">Выйти { {{ user.username }} }</a></li>
                {% else %}
                <li><a href="/admin/">Войти</a></li>
                {% endif %}
            </ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
