                {% block sidebar %}

                <!-- Side Widget Well -->
                 <div class="well">
                    <h4>Нашёл ошибку на сайте!?</h4>
                    <p>...или в самой игре? Дай мне знать, чтобы я смог оперативно её исправить. Обещаю&nbsp;&mdash; без награды ты не останешься!</p>
                    <footer>С уважением, <cite title="Администратор">Администратор</cite></footer>
                </div>
                <div class="well">
                    <h4>Редакторы в розыске!</h4>
                    <p>Я довольно таки долго запускал этот проект&nbsp;&mdash; более двух лет! Сейчас, как никогда, я нуждаюсь в толковых и адекватных помощниках. Работы много&nbsp;&mdash; никто без дела сидеть не будет. Давай сделаем наш проект лучше и успешнее вместе!</p>
                    <blockquote><p>Редактор&nbsp;&mdash; мастер пера. Основная задача редактора&nbsp;&mdash; писать статьи (или переводить с англ языка) и создавать контент на нашем сайте, выступать цензором.</p>
                    <footer>С уважением, <cite title="Администратор">Администратор</cite></footer>
                    </blockquote>
                </div>
                <div class="well">
                    <h4>Хотите помочь проекту?</h4>
                    <p>Мы некоммерческий проект и находимся на самофинансировании. Если вам нравится играть с нами и вы согласны с нашими целями&nbsp;&mdash; поддержите проект, <a href="https://minecraft.of.by/funding/" class="text-info">перечислив любую сумму</a> любым доступным способом. Хостинг сервера стоит хороших денег и я плачу за него из личного кошелька.</p>
                    <blockquote><p>Я долго искал сервер для своих детей без неадекватных игроков и комьюнити, объединённым единой идеей. И вот&nbsp;&mdash; нашёл! Спасибо.</p>
                    <footer>С уважением, <cite title="Игрок комьюнити">Serg1978</cite></footer>
                    </blockquote>
                </div>


                {% endblock sidebar %}
