                {% block sidebar %}
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Поиск по сайту</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>


                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Хотите помочь проекту?</h4>
                    <p>Мы некоммерческий проект и находимся на самофинансировании. Если вам нравится играть с нами и вы согласны с нашими целями - поддержите проект, перечислив любую сумму на наши рассчетные счета.</p>
                    <blockquote><p>Я долго искал сервер для своих детей без неадекватных игроков и комьюнити, объединённым единой идеей. И вот - нашёл! Спасибо.</p>
                    <footer>С уважением, <cite title="Игрок комьюнити">Serg1978</cite></footer>
                    </blockquote>
                </div>

                {% endblock sidebar %}
