section p {
    text-align: left;
    text-indent: 0.75cm;
}
section ol {
    text-align: left;
}

blockquote {
    background-color: #393f46;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
}

.body p {
    text-indent: 1.35em
}

.lead {
    font-size: 19px;
    line-height: 1.2em;
}

.thumbnail {
    margin-bottom: 0;
}