section p {
    text-align: left;
    text-indent: 0.75cm;
}
section ol {
    text-align: left;
}

blockquote {
    background-color: #393f46;
    color: white;
    padding: 10px 15px;
    font-size: 14px;
}

.body p {
    text-indent: 1.35em
}

.lead {
    font-size: 19px;
    line-height: 1.2em;
}

.thumbnail {
    margin-bottom: 0;
}

.well p {
    text-align: left;
    text-indent: 0;
}

.subheading {
    font-size: 1.2em;
    padding: 0;
    color: #8a9599;
}

.title p {
    transition: all 0.7s ease-out 0.5s;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.4737;
    margin: 0 0 0.75em;
    color: #8a9599;
}

.title h2 {
    text-transform: uppercase;
}

.sep-container {
    position: relative;
    text-align: center;
}

.sep-container .sep {
    color: #c5a47e;
    margin: 0 auto 1em;
    width: 11em;
}

.sep-container .sep.line-sep::before {
    float: left;
}

.sep-container .sep.line-sep::after {
    float: right;
}

.sep-container .sep.line-sep::before, .sep-container .sep.line-sep::after {
    border: 1px solid #c5a47e;
    content: " ";
    display: block;
    margin-top: 11px;
    width: 40%;
}

.faq-section .item {
    border-radius: 2px;
    padding: 10px;
}
.faq-section .item h3 {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}
.faq-section .item p {
    font-size: 15px;
}

.colored-text {
    color: #00aeff;
}
.badge-success {
    background-color: #62c462;
    color: #272b30;
}
.badge-secondary {
    background-color: #7a8288;
    color: #fff;
} 
.badge-light {
    background-color: #e9ecef;
    color: #272b30;
}
.badge {
    font-size: 10px;
    line-height: 1;
    padding: 2px 5px;
    color: white;
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.compare {
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 40px 0;
}
.compare .plan {
  margin: 0;
  width: 33.33%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.compare * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.compare header {
  position: relative;
}
.compare .plan-title {
  position: relative;
  top: 0;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #222f3d;
  color: #ffffff;
  text-transform: uppercase;
}
.compare .plan-cost {
  padding: 0px 10px 20px;
}
.compare .plan-price {
  font-weight: 800;
  font-size: 2.4em;
  color: #34495e;
}
.compare .plan-type {
  opacity: 0.6;
}
.compare .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.compare .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}
.compare .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.compare .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.compare .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}
.compare .plan-select a {
  background-color: #222f3d;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.compare .plan-select a:hover {
  background-color: #46627f;
}
.compare .featured {
  margin-top: -10px;
  background-color: #34495e;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.compare .featured .plan-title,
.compare .featured .plan-price {
  color: #ffffff;
}
.compare .featured .plan-cost {
  padding: 10px 10px 20px;
}
.compare .featured .plan-features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.compare .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
  .compare .plan {
    width: 50%;
  }
  .compare .plan-title,
  .compare .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .compare .plan-cost,
  .compare .featured .plan-cost {
    padding: 20px 10px 20px;
  }
  .compare .plan-select,
  .compare .featured .plan-select {
    padding: 10px 10px 10px;
  }
  .compare .featured {
    margin-top: 0;
  }
}
@media only screen and (max-width: 440px) {
  .compare .plan {
    width: 100%;
  }
}
.compare-followup {
 clear: both;
 padding-top: 25px;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}