.mob-projects:after{
  display: inline-block;
  width: 100%;
}

.mob-projects .mix,
.mob-projects .gap{
  display: inline-block;
  padding: 5px;
}

.mob-projects .mix:after{
  display: inline-block;
}

.mob-projects .mix:before{
  display: inline-block;
}

mob-projects-controls-active {
    background-image: linear-gradient(#020202, #101112 40%, #141618);
    background-repeat: no-repeat;
}

.mob-projects figure {
    margin: 0;
    position: relative;
}

.mob-projects figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.mob-projects figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #f4f4f4;
    color: #202020;
}

.mob-projects figcaption h3 {
    margin: 0;
    padding: 0;
    color: #f36700;
    font-size: 21px;
}

.mob-projects figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
}
.mob-projects figcaption span{
    font-size: 13px;
    margin-top: 5px;
    float: left;
}

.mix figure {
    overflow: hidden;
}

.mix figure img {
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
}

.mix figure:hover img,
.mix figure.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    background:rgba(71,172,255,0.3);
}

.mix figcaption {
    height: 120px;
    width: 100%;
    top: auto;
    bottom: 20px;
    z-index:99;
    -webkit-transform: translateY(85%);
    -moz-transform: translateY(85%);
    -ms-transform: translateY(85%);
    transform: translateY(85%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.mix figure:hover figcaption,
.mix figure.cs-hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

.mix figcaption a {
    position: absolute;
    bottom: 85px;
    right: 7px;
}

.mix figcaption h3 {
    text-shadow: none;
}

.view_link{
    width:50px;
    height:50px;
    float:left;
    background:#fff;
    position:relative;
    text-align:center;
    border-radius:100%;
    left:35%;
    top:22%;
}
.view_link i{
    display:inline-block;
    font-size:20px;
    color:#00bfe8;
    margin-top:15px;
}
.goto_link{
    width:50px;
    height:50px;
    float:left;
    background:#fff;
    position:relative;
    text-align:center;
    border-radius:100%;
    left:45%;
    top:22%;
}
.goto_link i{
    display:inline-block;
    font-size:20px;
    color:#00bfe8;
    margin-top:15px;
}
.view_link:hover{
    opacity:0.7
}
.goto_link:hover{
    opacity:0.7
}


/* opacity background on hover portfolio css start */

.blur_bg {
    height: 100%;
    width: 100%;
    top: auto;
    bottom: 0;
    position:absolute;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
    transition: transform 0.4s, opacity 0.1s 0.3s;
}

.mix figure:hover .blur_bg,
.mix figure.cs-hover .blur_bg {
    opacity: 1;
    background:rgba(5,181,255,0.5);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
    transition: transform 0.4s, opacity 0.1s;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .view_link{
        width:40px;
        height:40px;
        float:left;
        background:#fff;
        position:relative;
        text-align:center;
        border-radius:100%;
        left:35%;
        top:5%;
    }
    .view_link i{
        display:inline-block;
        font-size:20px;
        color:#00bfe8;
        margin-top:11px;
    }
    .goto_link{
        width:40px;
        height:40px;
        float:left;
        background:#fff;
        position:relative;
        text-align:center;
        border-radius:100%;
        left:45%;
        top:5%;
    }
    .goto_link i{
        display:inline-block;
        font-size:20px;
        color:#00bfe8;
        margin-top:11px;
    }
}
