{% extends "base.html" %}

{% block title %}Ваша ссылка не действительная{% endblock %}

{% block base_content %}

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-12">
                <h2>Ваша ссылка не действительная. Активация не возможна!</h2>
                <p>Попробуйте запросить новую активационную сслыку.</p>
                {{ message }}
            </div>


        </div><!-- /.row -->
    </div>

{% endblock %}

