{% extends "base.html" %}

{% block title %}Вход в систему{% endblock %}

{% block base_content %}
<div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Закрыть</span></button>
              <h2 class="modal-title" id="myModalLabel">Авторизация на сайте</h2>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form class="form-signin" role="form" action="" method="post">
                              {% csrf_token %}
                              <div class="form-group">
                                  <label for="username" class="control-label">Твой Ник или Почта</label>
                                  <input type="text" class="form-control" id="username" name="username" value="" required="" title="Введите Ваше ник (как в игре)" placeholder="UserName">
                                  <span class="help-block"></span>
                              </div>
                              <div class="form-group">
                                  <label for="password" class="control-label">Пароль</label>
                                  <input type="password" class="form-control" id="password" name="password" value="" required="" title="Введите Ваш пароль (как в игре)">
                                  <span class="help-block"></span>
                              </div>
                              {% if login_error %}
                                  <div class="alert alert-warning alert-dismissible" role="alert">
                                      <button type="button" class="close" data-dismiss="alert" aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                                      {{login_error}}
                                  </div>
                              {% endif%}
                              <div class="checkbox">
                                  <label>
                                      <input type="checkbox" name="remember" id="remember"> Запомните меня!
                                  </label>
                              </div>
                              <button type="submit" class="btn btn-success btn-block">Войти</button>
                              <a href="/auth/forgot/" class="btn btn-default btn-block">Забыли пароль?</a>
                          </form>
                      </div>
                  </div>
                  <div class="col-xs-6">
                      <p class="lead">Регистрируйтесь и получайте <span class="text-success">БОНУСЫ</span></p>
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-check text-success"></span> +512 Бонусных блоков</li>
                          <li><span class="fa fa-check text-success"></span> +$5000 на личный счёт</li>
                          <li><span class="fa fa-check text-success"></span> Ваш личный кабинет</li>
                          <li><span class="fa fa-check text-success"></span> Доступ к проектам</li>
                          <li><span class="fa fa-check text-success"></span> Подарок <small>(приглашённым игрокам)</small></li>
                          <li><a href="/library/how-to-get-more-blocks">Узнать больше!</a></li>
                      </ul>
                      <p><a href="/auth/register/" class="btn btn-info btn-block">Убедили - регистрируюсь!</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}

