{% extends "base.html" %}

{% block title %}Регистрания нового игрока{% endblock %}

{% block base_content %}
<div id="login-overlay" class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                    class="sr-only">Закрыть</span></button>
            <h2 class="modal-title" id="myModalLabel">Регистрация на сайте</h2>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 col-sm-offset-1">
                    <form role="form" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.non_field_errors }}
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="username" id="id_username"
                                           class="form-control" placeholder="Ник" tabindex="1" value="{% if form.username.value != None %}{{ form.username.value }}{% endif %}">
                                    {% if form.username.errors %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close fade in" data-dismiss="alert"
                                                aria-label="Закрыть"><span aria-hidden="true">&times;</span>
                                        </button>
                                        {% for error in form.username.errors %}
                                        {{ error|escape }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="email" id="id_email"
                                           class="form-control" placeholder="E-mail" tabindex="2" value="{% if form.email.value != None %}{{ form.email.value }}{% endif %}">
                                    {% if form.email.errors %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close fade in" data-dismiss="alert"
                                                aria-label="Закрыть"><span aria-hidden="true">&times;</span>
                                        </button>
                                        {% for error in form.email.errors %}
                                        {{ error|escape }}
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password1" id="id_password1"
                                           class="form-control" placeholder="Пароль"
                                           value="{{ form.field.password1 }}" tabindex="3">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                <div class="form-group">
                                    <input type="password" name="password2" id="id_password2"
                                           class="form-control" placeholder="Повторите пароль"
                                           value="{{ form.field.password1 }}" tabindex="4">
                                </div>
                            </div>
                            {% if form.password1.errors or form.password2.errors %}
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close fade in" data-dismiss="alert"
                                            aria-label="Закрыть"><span aria-hidden="true">&times;</span></button>
                                    {% for error in form.password2.errors %}
                                    {{ error|escape }}
                                    {% endfor %}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                Нажимая кнопку <strong class="label label-success">Зарегистрироваться</strong>, ты
                                соглашаешься с нашим <a href="#" data-toggle="modal" data-target="#t_and_c_m">Соглашением</a>.
                            </div>
                        </div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-6"><input type="submit" value="Зарегистрироваться"
                                                                   class="btn btn-success btn-block"
                                                                   tabindex="6"></div>
                            <div class="col-xs-12 col-md-6"><a href="/auth/login/"
                                                               class="btn btn-info btn-block">Авторизоваться</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="myModalLabel">Условия использования</h3>
            </div>
            <div class="modal-body">
                <p>Настоящее Соглашение определяет условия использования Пользователями материалов и сервисов сайта <a href="http://minecraft.of.by">minecraft.of.by</a> (далее — «Сайт»).</p>

                <h4>1.Общие условия</h4>

                <p>1.1. Использование материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации.</p>
                <p>1.2. Настоящее Соглашение является публичной офертой. Получая доступ к материалам Сайта Пользователь считается присоединившимся к настоящему Соглашению.</p>
                <p>1.3. Администрация Сайта вправе в любое время в одностороннем порядке изменять условия настоящего Соглашения. Такие изменения вступают в силу по истечении 3 (Трех) дней с момента размещения новой версии Соглашения на сайте. При несогласии Пользователя с внесенными изменениями он обязан отказаться от доступа к Сайту, прекратить использование материалов и сервисов Сайта.</p>

                <h4>2. Обязательства Пользователя</h4>

                <p>2.1. Пользователь соглашается не предпринимать действий, которые могут рассматриваться как нарушающие российское законодательство или нормы международного права, в том числе в сфере интеллектуальной собственности, авторских и/или смежных правах, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта.</p>
                <p>2.2. Использование материалов Сайта без согласия правообладателей не допускается (статья 1270 Г.К РФ). Для правомерного использования материалов Сайта необходимо заключение лицензионных договоров (получение лицензий) от Правообладателей.</p>
                <p>2.3. При цитировании материалов Сайта, включая охраняемые авторские произведения, ссылка на Сайт обязательна (подпункт 1 пункта 1 статьи 1274 Г.К РФ).</p>
                <p>2.4. Комментарии и иные записи Пользователя на Сайте не должны вступать в противоречие с требованиями законодательства Российской Федерации и общепринятых норм морали и нравственности.</p>
                <p>2.5. Пользователь предупрежден о том, что Администрация Сайта не несет ответственности за посещение и использование им внешних ресурсов, ссылки на которые могут содержаться на сайте.</p>
                <p>2.6. Пользователь согласен с тем, что Администрация Сайта не несет ответственности и не имеет прямых или косвенных обязательств перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, регистрацией авторских прав и сведениями о такой регистрации, товарами или услугами, доступными на или полученными через внешние сайты или ресурсы либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки на внешние ресурсы.</p>
                <p>2.7. Пользователь принимает положение о том, что все материалы и сервисы Сайта или любая их часть могут сопровождаться рекламой. Пользователь согласен с тем, что Администрация Сайта не несет какой-либо ответственности и не имеет каких-либо обязательств в связи с такой рекламой.</p>

                <h4>3. Прочие условия</h4>

                <p>3.1. Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.</p>
                <p>3.2. Ничто в Соглашении не может пониматься как установление между Пользователем и Администрации Сайта агентских отношений, отношений товарищества, отношений по совместной деятельности, отношений личного найма, либо каких-то иных отношений, прямо не предусмотренных Соглашением.</p>
                <p>3.3. Признание судом какого-либо положения Соглашения недействительным или не подлежащим принудительному исполнению не влечет недействительности иных положений Соглашения.</p>
                <p>3.4. Бездействие со стороны Администрации Сайта в случае нарушения кем-либо из Пользователей положений Соглашения не лишает Администрацию Сайта права предпринять позднее соответствующие действия в защиту своих интересов и защиту авторских прав на охраняемые в соответствии с законодательством материалы Сайта.</p>

                <strong>Пользователь подтверждает, что ознакомлен со всеми пунктами настоящего Соглашения и безусловно принимает их.</strong>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Я согласен!</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}

