    <div class="container">
       <div class="row" >
            <div class="col-md-4">

                <div class="text-area">
                    <div class="title">
                        <h2>О проекте</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Сервер появился благодря энтузиазму отца, который хотел предоставить своим детям безопасную площадку для игры в Майнкрафт;</li>
                    <li>Мы заботимся о развитии своих детей, а также строго следим <a href="/game-rules/">за порядком на нашем сервере</a>;</li>
                    <li><strong class="text-success">Сервер открыт игрокам с 2015 года</strong>;</li>
                    <li>У нас уникальный, <span class="text-success">семи-ванильный мир Выживания</span>, где воедино объединены как чисто ванильные механики, так и характерные классу серверов «выживание», приёмы.
                        Об этом читайте в <a href="/about/#compare-servers">сравнении наших серверов</a>;</li>
                    <li>Мы внимательно следим за порядком на нашем сервере, своевременно очищая его от долгостроев покинувших нас игроков, что не сумели довести
                        свою работу до своего логического завершения;</li>
                    <li>Наша платформа максимально приближена к &laquo;ванильной&raquo; версии Майнкрафта с
                        минимально-необходимым пакетом плагинов;</li>
                    <li>Мы своевременно обновляем ПО сервера и всегда играем в самую свежую версию Майна!</li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="text-area">
                    <div class="title">
                        <h2>Наши цели</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Наша главная цель&nbsp;&mdash; предоставить родителям и их детям безопасную площадку для игры в Майнкрафт;</li>
                    <li>Дать опытным игрокам возможность создавать свои собственные Проекты, собрать команду строителей и почувствовать себя настоящими Архитекторами;</li>
                    <li>Мы нацелены на адекватных игроков любого возраста и представляем собой растущее
                        сообщество игроков Майна в Беларуси и соседних странах;
                    </li>
                    <li>За всё время существования сервера, <span class="text-success">у нас не было ни одного полномасштабного «вайпа»</span> (очистки) мира Выживания&nbsp;&mdash; мы всегда аккуратно 
                        переносим все постройки наших активно играющих игроков на новую карту! Порой вручную...</li>
                    <li>Мы хотим собрать самых талантливых и умелых строителей и помочь им оточить своё дизайнерское мастерство.</li>
                </ul>
            </div>
            <!-- /.col-md-4 -->
            <div class="col-md-4">
                <div class="text-area">
                    <div class="title">
                        <h2>Важно знать!</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                    </div>
                </div>
                <ul>
                    <li><strong class="text-success">Это любительский сервер!</strong></li>
                    <li>Мы не преследуем коммерческие цели и не имеем никакого отношения к Mojang;</li>
                    <li>У нас <span class="text-danger">нельзя купить</span> ранг Модератора, Админку или разбан. Мы не продаём ресурсы или другие услуги за реальные деньги;</li>
                    <li>Мы <span class="text-danger">баним</span> за мат, троллинг, гриферство и явную неадекватность;</li>
                    <li>Сервер поддерживается взрослыми и адекватными людьми, ценящими безопасность, своё и чужое время;</li>
                    <li>Мы не планируем прекращать работу нашего сервера, пока с нами играет хотя бы один игрок;</li>
                    <li>Мы бессрочно храним историю переписки между игроками и историю блоков&nbsp;&mdash; не думай, что сможешь избежать наказания за косяки;</li>
                    <li>Любые попытки выдать себя за членов Администрации с целью получения выгоды или обмана будут жёстко наказаны.</li>
                </ul>
                <nav aria-label="content-nav">
                     <ul class="pager">
                         <li class="next"><a href="/about/">Узнать больше <span aria-hidden="true">&rarr;</span></a></li>
                     </ul>
                </nav>
            </div>
            <!-- /.col-md-4 -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p class="text-center">Интересуешься историей сервера?.. <span aria-hidden="true">&rarr;</span> <span class="next"><a href="/changelog">тебе сюда</a></span>
            </div>
        </div>
    </div>
