            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="title">
                            <h2>Вопросы и ответы (FAQ)</h2>
                            <div class="sep-container">
                                <div class="sep line-sep">∎</div>
                            </div>
                            <p class="text-center">
                                Часто задаваемые вопросы наших игроков,<br> или как не задавать лишних вопросов Администрации
                            </p>
                        </div>
                    </div>
                </div><!--this row is use for section center heading-->

                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item">
                            <h3>Как зарегистрироваться в игре?</h3>
                                <p>У тебя есть два варианта регистрации&nbsp;&mdash; на сайте и в игре. Рассмотрим оба способа:</p>
                                <ol>
                                    <li>Проще всего зарегистрироваться прямо из игры. При первом же подключении к серверу, сама игра
                                        предолжит тебе зарегистрироваться ( <a href="{% url 'library:article_detail' 'how-to-setup-minecraft' %}">"Как начать играть в Майн"</a> ). Кстати, после этого ты можешь смело войти на наш сайт со своим логином и паролем и активировать свой Личный кабинет через почту и получить бонусные блоки
                                        (<strong class="colored-text">+512 блоков</strong>) для приватных Участков.
                                    </li>
                                    <!-- <li class="text-muted">Регистрация на сайте доступна здесь&nbsp;&mdash; <a href="/auth/register/">"Регистрация на
                                        сайте"</a>. Просто заполни форму, выбрав себе имя(твой игровой ник), укажи свой пароль и адрес
                                        электронной почты. На неё придет письмо с подтверждением регистрации. Кстати, когда ты
                                        подтвердишь свою регистрацию&nbsp;&mdash; ты получишь дополнительные бонусные блоки на свой
                                        счёт.
                                    </li> -->
                                </ol>
                        </div><!--faq item-->
                        <div class="item">
                            <h3>Как получить бонусные блоки для Приватных Участков?</h3>
                            <p>Вариантов несколько и они будут только расширяться со временем:</p>
                            <ol>
                                <li><strong class="colored-text">+ 512 блоков</strong>&nbsp;&mdash; зарегистрируйся на сайте и
                                    активируй свой Личный кабинет через почту;
                                </li>
                                <li><strong class="colored-text">ТвоиБлоки x 2</strong>&nbsp;&mdash; строй уникальные здания и
                                    постройки и зови Администратора&nbsp;&mdash; участок будет увеличен вдвое,
                                    если нам понравится твоя работа;
                                </li>
                                <!-- <li><strong class="colored-text">Участвуй в Проектах</strong> и твоя команда получит Приватный Участок любого размера;</li> -->
                                <li><strong class="colored-text">Просто играй на нашем сервере</strong>&nbsp;&mdash; чем дольше 
                                ты играешь и строишь, тем больше бонусных блоков ты получаешь;
                                </li>
                            </ol>
                        </div><!--faq item-->
                        <div class="item">
                            <h3>Не могу войти в игру&nbsp;&mdash; ошибка &laquo;превышено число подключений с вашего IP&raquo;</h3>
                            <p>
                                <span class="text-danger">У нас запрещены мультиаккаунты.</span> Если ты не знаешь что это такое, или ты играешь в Майн одновременно со своим братом/сестрой/родителями&nbsp;&mdash; дай нам знать, мы что-нибудь придумаем!
                            </p>
                        </div><!--faq item-->
                    </div><!--faq col-->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="item">
                            <h3>Как установить игру Майнкрафт и начать играть на вашем сервере?</h3>
                            <p>Детально описание установки игры Майнкрафт описано в нашей библиотеке, в статье "<a href="{% url 'library:article_detail' 'how-to-setup-minecraft' %}">Как начать играть в Майн</a>". Мы приветствуем наличие лицензии и использование <a href="https://minecraft.net/ru/download/" rel="nofollow">официального игрового клиента игры Майнкрафт</a>, однако мы также не запрещаем использование других клиентов (<a href="https://tlauncher.org/" rel="nofollow">TLauncher</a>).</p>
                            <p>Просто будь адекватным и дружелюбным игроком и всё у тебя получится!</p>
                        </div><!--faq item-->
                        <div class="item">
                            <h3>Я забыл пароль и не могу войти в игру!</h3>
                            <ol>
                                <li>Возможно игрок с таким ником (игровым именем) уже зарегистрирован на нашем сервере. В таком случае, дай
                                    нам знать (если у тебя лицензионная версия игры), или смени имя на другое (если ты пират);
                                </li>
                                <li>В случае, если ты действительно уже играл на нашем сервере и указал адрес своей электронной почты &nbsp;&mdash; <a href="{% url 'library:article_detail' 'how-to-setup-minecraft' %}">во время регистрации из игры</a> ты сможешь запросить его себе на почту командой <strong class="colored-text">/email recovery твоя_почта@mail.ru</strong> Правда, это сработает только в случае, если ты завершил регистрацию и активировал свой Личный кабинет через почту. <span class="text-danger">Если ты не закончил регистрацию на сайте&nbsp;&mdash; мы ничем не сможем тебе помочь</span>.
                                </li>
                            </ol>
                        </div><!--faq item-->
                        <div class="item">
                            <h3>Что такое Проекты и как принять в них участие?</h3>
                            <p><strong class="colored-text">Проекты&nbsp;&mdash; это основная идея этого сервера</strong>. Наверное ты уже видел какие вещи можно создавать в игре Майнкрафт, какие сложные строить постройки, создавать свои города и целые миры?! Так вот мы даём тебе такую возможность&nbsp;&mdash; придумать свой Проект, собрать команду строителей и реализовать свою мечту в роли главного Архитектора.</p>
                            <p>Мы будем делать всё возможное, чтобы поддержать тебя и твою идею, помочь тебе воплотить мечту в реальность!</p>
                            <ul class="pager"><li class="next"><a href="/projects/">Узнать больше о проектах →</a></li></ul>
                        </div><!--faq item-->
                    </div><!--faq col-->
                </div>

                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <p class="text-center">Не нашёл ответа на свой вопрос?.. <span aria-hidden="true">&rarr;</span> <span class="next"><a href="/forum/">задай его на нашем форуме</a></span>
                    </div>
                </div>

            </div>
