    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Вопросы и ответы (FAQ)</h2>

                <h3>Как зарегистрироваться в игре?</h3>

                <p>У тебя есть два варианта регистрации&nbsp;&mdash; на сайте и в игре. Рассмотрим оба способа:</p>
                <ol>
                    <li>Проще всего зарегистрироваться прямо из игры. При первом же подключении к серверу, сама игра
                        предолжит тебе зарегистрироваться ( <a href="/lib/how-to-start-play-minecraft/">"Как начать
                            играть в Майн"</a> ). Кстати, после этого ты можешь смело войти на наш сайт со своим логином
                        и паролем и активировать свой Личный кабинет через почту и получить бонусные блоки
                        (<strong class="text-success">+512 блоков</strong>) для приватных Участков.
                    </li>
                    <li>Регистрация на сайте доступна здесь&nbsp;&mdash; <a href="/auth/register/">"Регистрация на
                        сайте"</a>. Просто заполни форму, выбрав себе имя(игровой ник), укажи свой пароль и адрес
                        электронной почты. На неё придет письмо с подтверждением регистрации. Кстати, когда ты
                        подтвердишь свою регистрацию&nbsp;&mdash; ты получишь дополнительные бонусные блоки на свой
                        счёт.
                    </li>
                </ol>

                <h3>Как получить бонусные блоки для Приватных Участков?</h3>

                <p>Вариантов несколько и они будут только расширяться со временем:</p>
                <ol>
                    <li><strong class="text-success">+ 512 блоков</strong>&nbsp;&mdash; зарегистрируйся на сайте и
                        активируй свой Личный кабинет через почту;
                    </li>
                    <li><strong class="text-success">ТвоиБлоки x 2</strong>&nbsp;&mdash; строй уникальные здания и
                        постройки и зови Администратора&nbsp;&mdash; участок будет увеличен вдвое,
                        если нам понравится твоя работа;
                    </li>
                    <!-- <li><span class="text-muted">Привяжи свою соц. сеть и поделись ссылкой на наш сайт (в процессе разработки);</span>
                    </li>
                    <li><span class="text-muted">Пригласи друга по своей уникальной ссылке и попроси его зарегистрироваться
                        на сайте (в процессе разработки);</span>
                    </li>
                    <li><span
                            class="text-muted">Проголосуй за наш сайт в каталогах Майна (в процессе разработки);</span>
                    </li>-->
                </ol>


                <h3>Я забыл пароль и не могу войти в игру.</h3>
                <ol>
                    <li>Возможно игрок с таким ником (игровым именем) уже зарегистрирован на нашем сервере. В таком случае, дай
                        нам знать (если у тебя лицензионная версия игры), или смени имя на другое;
                    </li>
                    <li>В случае, если ты действительно уже играл на нашем сервере&nbsp;&mdash; воспользуйся <a
                        href="/auth/forgot/">восстановлением пароля</a> на нашем сайте. Это сработает только в
                        случае, если ты завершил регистрацию и активировал свой Личный кабинет через почту.
                        <span class="text-danger">Если ты не закончил регистрацию на сайте&nbsp;&mdash; мы ничем не
                        сможем тебе помочь</span>.
                    </li>
                </ol>

            </div>
        </div>
    </div>
