        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title">
                        <h2>Как играть в Майн</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                        <p class="text-center">
                            Чтобы стать настоящим Архитектором,<br> или как впечатлить друзей и близких
                        </p>
                    </div>
                </div>
            </div><!--this row is use for section center heading-->

            <div class="row">
                <div class="col-lg-9 col-xs-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img alt="" src="http://lorempixel.com/500/298/animals/" class="img-rounded img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>выживи в первую ночь</h4>
                                    <h4 class="subheading">или как играть в режиме "выживание"</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Играя в режиме <strong class="text-success">Выживание</strong>, ты будешь вынужден собирать ресурсы и бороться за выживание&nbsp;&mdash; добывать пропитание, заботиться об уровне голода, здоровья и даже воздуха (находясь под водой). Враждебные мобы будут пытаться убить тебя.</p>
                                    <p>Выжить в первую игровую ночь&nbsp;&mdash; эта та проблема, с которой сталкиваются все игроки вне зависимости от уровня сложности. Давай разберёмся вместе, как это сделать.</p>
                                    <ul class="pager"><li class="next"><a href="/projects/">Как же выжить в первую ночь →</a></li></ul>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img alt="" src="http://lorempixel.com/500/298/animals/" class="img-rounded img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>обезопась себя</h4>
                                    <h4 class="subheading">или как добывать ресурсы впрок</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Ни для кого не секрет, что постоянная борьба за выживание не позволит тебе заняться строительством чего-то выдающегося и красивого. Существует много способов, чтобы не рыскать всё время в поисках ресурсов&nbsp;&mdash; как то автоматические и не очень фермы, зачарование инструментов и другие хитрости.</p>
                                    <p>Кстати, если тебя утомляет собирать без конца ресурсы и ты получаешь удовольствие исключительно от строительства&nbsp;&mdash; тогда для тебя определённо подойдет режим "Креатив", где ресурсы у тебя будет бесконечными, а способность летать упростит и ускорит процесс строительства.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img alt="" src="http://lorempixel.com/500/298/animals/" class="img-rounded img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>стань Архитектором</h4>
                                    <h4 class="subheading">или как строить хорошо и очень хорошо</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Конечно, проще всего выкопать землянку, или создать очередной "домик из грязи", но этим ты никого не удивишь) Оглянись вокруг! Игра даёт тебе массу доступных для строительства материалов&nbsp;&mdash; камень, гранит, андезит, диорит, дерево всех видов. Не стоит гнаться за редкими материалами и дорогими алмазными блоками. Весь смысл в самой постройке, в её задумке, и только уже потом&nbsp;&mdash; в материалах, из которых она создана!</p>
                                    <p>Планируй то, что ты хочешь построить. Редко у кого получается создать шедевр без планирования основных деталей строительства&nbsp;&mdash; числа этажей, формы и планировки здания, его назначения и идеи.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img alt="" src="http://lorempixel.com/500/298/animals/" class="img-rounded img-responsive">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>собери команду</h4>
                                    <h4 class="subheading">или как создать свой первый Проект</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Итак, ты достиг вершин в индивидуальном строительстве. Понял, что можешь создавать красивые постройки и готов делиться этими знаниям я другими игроками. Тогда добро пожаловать в наши Проекты.</p>
                                    <p>Здесь ты получишь не только Приватный участок любого размера, но и способность разделить его на части и разрешить другим игрокам строить только в своих частях. Именно это позволит тебе разделить работу и не переживать за воровство или гриферство твоих построек в целом. </p>
                                    <ul class="pager"><li class="next"><a href="/projects/">Как создать свой Проект →</a></li></ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-xs-12">
                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Сайт находится в стадии разработки!</h4>
                        <p>Нашёл ошибку на сайте или в самой игре? Дай мне знать, чтобы я смог оперативно её исправить. Обещаю&nbsp;&mdash; без награды ты не останешься!</p>
                        <footer>С уважением, <cite title="Администратор">Администратор</cite></footer>
                    </div>
                    <div class="well">
                        <h4>Редакторы и валанцёры в розыске!</h4>
                        <p>Я долго запускал этот проект&nbsp;&mdash; более двух лет! Сейчас, как никогда, я нуждаюсь в толковых и адекватных помощниках. Работы много&nbsp;&mdash; никто без дела сидеть не будет. Давай сделаем наш проект лучше и успешнее вместе!</p>
                        <blockquote><p>Редактор&nbsp;&mdash; мастер пера. Основная задача редактора&nbsp;&mdash; писать статьи и создавать контент на нашем сайте, выступать цензором.</p><p>Валанцёр&nbsp;&mdash; помощник игрокам на сервере. Основная задача&nbsp;&mdash; комфортная игра и соблюдение игроками правил сервера.</p>
                        <footer>С уважением, <cite title="Администратор">Администратор</cite></footer>
                        </blockquote>
                    </div>
                    <div class="well">
                        <h4>Хотите помочь проекту?</h4>
                        <p>Мы некоммерческий проект и находимся на самофинансировании. Если вам нравится играть с нами и вы согласны с нашими целями - поддержите проект, перечислив любую сумму на наши рассчетные счета.</p>
                        <blockquote><p>Я долго искал сервер для своих детей без неадекватных игроков и комьюнити, объединённым единой идеей. И вот - нашёл! Спасибо.</p>
                        <footer>С уважением, <cite title="Игрок комьюнити">Serg1978</cite></footer>
                        </blockquote>
                    </div>
                </div>     
            </div>
        </div>
