{% extends "base.html" %}
{% load flatpages %}

{% block base_content %}
<!-- Page Content -->
<div class="container">
    <div class="row">

        <!-- Intro Section -->
        <section id="intro" class="intro-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Page Content -->
                        <div class="container">

                            <!-- Heading Row -->
                            <div class="row">
                                <div class="col-md-7 header-splash">
                                    <div id="carousel-mainpage" class="carousel slide" data-ride="carousel">
                                      <!-- Indicators -->
                                      <ol class="carousel-indicators">
                                        <li data-target="#carousel-mainpage" data-slide-to="0" class="active"></li>
                                        <li data-target="#carousel-mainpage" data-slide-to="1"></li>
                                        <li data-target="#carousel-mainpage" data-slide-to="2"></li>
                                        <li data-target="#carousel-mainpage" data-slide-to="3"></li>
                                        <li data-target="#carousel-mainpage" data-slide-to="4"></li>
                                        <li data-target="#carousel-mainpage" data-slide-to="5"></li>
                                      </ol>
                                      <!-- Wrapper for slides -->
                                      <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                          <img class="img-responsive img-rounded" src="/media/contest-08-17-4.jpg" alt="">
                                          <div class="carousel-caption">
                                           <h2 class="text-info">Обновление 2018!</h2>
                                           <p class="text-center">Новые <strong class="text-success">достижения</strong> и обновленный <strong class="text-success">Мир приключений</strong>!</p>
                                          </div>
                                        </div>
                                        <div class="item">
                                          <img class="img-responsive img-rounded" src="/media/mob-adventure-tc01-rs.jpg" alt="">
                                          <div class="carousel-caption">
                                           <a class="" href="/library/how-to-trade-with-users/"><h2 class="text-info">Экономика и торговля</h2></a>
                                           <p class="text-center">Включая торговлю <strong class="text-success">зачарованными вещами</strong>!</p>
                                          </div>
                                        </div>
                                        <div class="item">
                                          <img class="img-responsive img-rounded" src="/media/mob-adventure-tc01-rs.jpg" alt="">
                                          <div class="carousel-caption">
                                           <h2 class="text-info">Проекты нашего сервера</h2>
                                           <p class="text-center">Самые <strong class="text-success">эпичные и монументальные</strong> проекты наших игроков и команд!</p>
                                          </div>
                                        </div>
                                        <div class="item">
                                          <img class="img-responsive img-rounded" src="/media/mob-adventure-tc01-rs.jpg" alt="">
                                          <div class="carousel-caption">
                                           <h2 class="text-info">Большие приватные Участки</h2>
                                           <p class="text-center"><strong class="text-success">2048</strong> блоков площади Приватных участков новым и старым игрокам!</p>
                                          </div>
                                        </div>
                                        <div class="item">
                                          <img class="img-responsive img-rounded" src="/media/mob-adventure-tc07-rs.jpg" alt="">
                                          <div class="carousel-caption">
                                            <h2 class="text-info">Обновлённый Мир Приключений</h2>
                                            <p class="text-center"><strong class="text-success">450+</strong> новых биомов и настоящий хардкор!</p>
                                          </div>
                                        </div>
                                        <div class="item">
                                          <img class="img-responsive img-rounded" src="/media/mob-land-claim-03-rs.jpg" alt="">
                                          <div class="carousel-caption">
                                            <h2 class="text-info">Аккуратные Приватные Участки</h2>
                                            <p class="text-center">Размеченная по <strong class="text-success">512/1024/2048</strong> блоков элитная земля прямо у Спавна</p>
                                          </div>
                                        </div>
                                       </div>
                                      <!-- Controls -->
                                      <a class="left carousel-control" href="#carousel-mainpage" role="button" data-slide="prev">
                                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                        <span class="sr-only">Туда</span>
                                      </a>
                                      <a class="right carousel-control" href="#carousel-mainpage" role="button" data-slide="next">
                                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                        <span class="sr-only">Сюда</span>
                                      </a>
                                    </div>

                                </div>
                                <!-- /.col-md-8 -->
                                <div class="col-md-5">
                                    <h1 class="text-center">Майнкрафт в Беларуси</h1>

                                    <p class="lead"> Семейный сервер для безопасной игры ваших детей, комфортного времяпрепровождения взрослых и дружеского общения в тесном комьюнити.</p>
                                    <h4>Чем мы отличаемся от других:</h4>
                                    <ul>
                                        <li>наш сервер&nbsp;&mdash; <span class="text-info">без доната, без продажи админок, креатива;</span>;</li>
                                        <li>у нас вне закона матерящееся "школоло", "гриферы" и неадекватные игроки;</li>
                                        <li>у нас есть <span class="text-info">Проекты&nbsp;&mdash; глобальные стройки объединённые одной идеей</span>;</li>
                                        <li>мы экспортируем твои выдающиеся постройки, если ты вдруг решишь покинуть нас;</li>
                                    </ul>
                                    <p class="lead">Мы рады видеть тебя на нашем сервере и постараемся сделать всё возможное, чтобы ты запомнил нас и всегда возвращался к нам поиграть.</p>
                                    <p class="lead text-center">Подключайся и играй&nbsp;&mdash; <a href="https://minecraft.of.by/library/how-to-setup-minecraft/" class="text-info">играй.майн.бел</a></p>

                                </div>
                                <!-- /.col-md-4 -->
                            </div>
                            <!-- /.row -->

                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="well text-center">
                                        <strong class="colored-text">Основная идея сервера</strong>&nbsp;&mdash; развитие творческих способностей ваших детей и площадка для взрослых, которые в детстве не доиграли в кубики/лего/песочницу.
                                    </div>
                                </div>
                                <!-- /.col-lg-12 -->
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.container -->

                    </div>
                </div>
            </div>
        </section>

        <!-- About Section -->
        <section id="about" class="about-section">
            {% include "about.html" %}
        </section>

        <!-- HowToPlay Section -->
        <section id="howtoplay" class="howtoplay-section">
            {% include "howtoplay.html" %}
        </section>

        <!-- F.A.Q Section -->
        <section id="faq" class="faq-section">
            {% include "faq.html" %}
        </section>

        <!-- Projects Section -->
        <section id="projects" class="projects-section">
           {% include "projects.html" %}
        </section>

    </div>
</div>

{% endblock %}














