        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title">
                        <h2>Проекты на сервере</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                        <p class="text-center">
                            Искусство самовыражения,<br> или как создать что-то по настоящему эпичное
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-12">
                    <p class="text-center">
                        В разработке...
                    </p>
                </div>
                <!-- /.col-md-12 -->
            </div>    
        </div>
        <!-- /.row -->
    </div>
