        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title">
                        <h2>Проекты на сервере</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                        <p class="text-center">
                            Искусство самовыражения,<br> или как создать что-то по настоящему эпичное
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-12">
                    <p class="text-center">
                        Всё просто - собери команду и забахай что-нить достойно-эпичненькое. И будет всем счастье, а тебе почет и уважение.
                    </p>

                    <div class="controls" align="center">
                        <button class="btn btn-default filter" data-filter="all">Все</button>
                        <button class="btn btn-default filter" data-filter=".team">Командные</button>
                        <button class="btn btn-default filter" data-filter=".private">Личные</button>
                        <button class="btn btn-default filter" data-filter=".big">Большие</button>
                        <button class="btn btn-default filter" data-filter=".epic">Эпичные</button>
                    </div>    

                    <div class="mob-projects">

                        <div class="mix epic col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-10-18">
                            <figure>
                                <img alt="" src="/media/mob-spawn-reconstruction-after.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Спавн сервера MOB</h3>
                                    <span>burchalka && olenkanik. Спавн был возведён вместо старой, эпичной постройки европейского автора Jar9 <a href="https://www.minecraft-schematics.com/user/jar9/" rel="no-follow">jar9</a> нашими доблестными Дойлiдамi в считанные дни. Масштабный по своим размерам средневековый замок с проработанным интерьером, магазином &laquo;На спавне&raquo; и телепортами по биомам!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/MOB-NewSpawn-01.jpg" data-lightbox="Spawn" data-title="Спавн сервера MOB" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/MOB-NewSpawn-02.jpg" data-lightbox="Spawn" data-title="Спавн сервера MOB, библиотека"></a>
                                    <a href="/projects/Spawn/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>


                        <div class="mix team col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-04-18">
                            <figure>
                                <img alt="" src="/media/projects/Mao-Neiasit-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Город Майнбург</h3>
                                    <span>Обширный город Майнбург в стиле средневековья с замком, гостиницей, лавками, жилыми домами и прочим. Строительство эпичного по задумке, прекрасного замкового комплекса начато игроком Мао, продолжено Neiasit, а завершён этот эпичный недострой игроком WaterDemon. Все молодцы.</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/Mao-Neiasit-01.jpg" data-lightbox="Mao" data-title="Парадный вход в замок герцога" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/Mao-Neiasit-02.jpg" data-lightbox="Mao" data-title="Задний двор"></a>
                                    <a href="/media/projects/Mao-Neiasit-03.jpg" data-lightbox="Mao" data-title="Вид с крылечка замка"></a>
                                    <a href="/media/projects/Mao-Neiasit-04.jpg" data-lightbox="Mao" data-title="Дорожка на задний двор"></a>
                                    <a href="/media/projects/Mao-Neiasit-05.jpg" data-lightbox="Mao" data-title="Дорожка вокруг замка"></a>
                                    <a href="/media/projects/Mao-Neiasit-06.jpg" data-lightbox="Mao" data-title="Гостинная"></a>
                                    <a href="/media/projects/Mao-Neiasit-07.jpg" data-lightbox="Mao" data-title="Сторожка"></a>
                                    <a href="/projects/Mao-Neiasit/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-12-12">
                            <figure>
                                <img alt="" src="/media/projects/Slay-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Торговый центр игроков</h3>
                                    <span>Торговая площадь с небольшими магазинами игроков по форме и многим деталям напоминающая караван-сарай города Оренбург. Каждый желающий открыть свою торговую точку сможет претендовать на выделенную торговую палатку или комнату под свой магазин. Цель&nbsp;&mdash; общая удобная и слаженная торговля между игроками</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/Slay-01.jpg" data-lightbox="Slay" data-title="Торговый комплекс Чёрного рынка" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/Slay-02.jpg" data-lightbox="Slay" data-title="Дворик торговой площади"></a>
                                    <a href="/media/projects/Slay-03.jpg" data-lightbox="Slay" data-title="Торговые ряды"></a>
                                    <a href="/media/projects/Slay-04.jpg" data-lightbox="Slay" data-title="Интерьер торговых павильонов"></a>
                                    <a href="/media/projects/Slay-05.jpg" data-lightbox="Slay" data-title="Фонтан торговой площади"></a>
                                    <a href="/projects/SlayJay/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix epic private col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-10-25">
                            <figure>
                                <img alt="" src="/media/projects/WaterDemon-08.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Морской Порт у спавна</h3>
                                    <span>Тщательно проработанный порт, выполненный игроком WaterDemon. Тихая бухта, адмиралтейство, постоялый двор, верхний порт для зажиточных купцов и мореходов и многое другое! Корабли других игроков спешат причалить в нашем порту&nbsp;&mdash; MrMalcoln и _SlayJay добродушно согласились пришвартовать своих морских странников в Порту.</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/WaterDemon-01.jpg" data-lightbox="WaterDemon" data-title="Морской Порт у спавна - верхний город" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/WaterDemon-02.jpg" data-lightbox="WaterDemon" data-title="Пришвартованный искатель приключений"></a>
                                    <a href="/media/projects/WaterDemon-03.jpg" data-lightbox="WaterDemon" data-title="Адмиралтейство"></a>
                                    <a href="/media/projects/WaterDemon-04.jpg" data-lightbox="WaterDemon" data-title="Ворота в верхний город"></a>
                                    <a href="/media/projects/WaterDemon-05.jpg" data-lightbox="WaterDemon" data-title="Таверна и постоялый дом"></a>
                                    <a href="/media/projects/WaterDemon-06.jpg" data-lightbox="WaterDemon" data-title="Канал в гавань порта"></a>
                                    <a href="/media/projects/WaterDemon-07.jpg" data-lightbox="WaterDemon" data-title="Причал"></a>
                                    <a href="/media/projects/WaterDemon-08.jpg" data-lightbox="WaterDemon" data-title="Общий вид с моря"></a>
                                    <a href="/projects/WaterDemon/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>


                        <div class="mix private big col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-12-21">
                            <figure>
                                <img alt="" src="/media/projects/MrMalcoln-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Замковый комплекс MrMalcoln</h3>
                                    <span>Поместье Уэйнов, жилище прислуги, химзавод и дирижабль! Замок-особняк со множеством башен и балконов. Неприступный, окруженный стенами и воротами, замок предназначен для отдыха. На его территории расположенны сады, аллеи и другие строения, а также множество памятников и фонтанов украшающие поместье. Не обошлось без потайных ходов и комнат.</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/MrMalcoln-01.jpg" data-lightbox="MrMalcoln" data-title="Поместье Уэйнов" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/MrMalcoln-02.jpg" data-lightbox="MrMalcoln" data-title="Сад поместья"></a>
                                    <a href="/media/projects/MrMalcoln-03.jpg" data-lightbox="MrMalcoln" data-title="Поместье прислуги"></a>
                                    <a href="/projects/MrMalcoln/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private epic col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-03-12">
                            <figure>
                                <img alt="" src="/media/projects/Strannik-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Ансамбль неизвестного зодчего</h3>
                                    <span>Сложный в техническом, и прекрасный в стилистическом исполнении замковый комплекс уединившегося аристократа (завидного холостяка) с бесконечным числом башен, флигелей, пандусов и уникальным арт объектом. Индивидуальный проект игрока Strannik, выполненный им по готовым схемам за долгие месяцы игры на сервере, без креатива. Автор такого величественного комплекса достоен звания настоящего Архитектора! ;)</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/Strannik-01.jpg" data-lightbox="Strannik" data-title="Ансамбль, общий вид" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/Strannik-02.jpg" data-lightbox="Strannik" data-title="Ансамбль, общий вид"></a>
                                    <a href="/media/projects/Strannik-03.jpg" data-lightbox="Strannik" data-title="Охранник"></a>
                                    <a href="/media/projects/Strannik-04.jpg" data-lightbox="Strannik" data-title="Охранник 2"></a>
                                    <a href="/media/projects/Strannik-05.jpg" data-lightbox="Strannik" data-title="Верхняя часть замка"></a>
                                    <a href="/projects/Strannik/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix team col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-12-15">
                            <figure>
                                <img alt="" src="/media/projects/AllanWhite-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Заснеженный горный град</h3>
                                    <span>Играя компанией (иногда чутка постримливая в ютуб), ребята быстро обустроили свой быт, разделив обязанности по интересам: AllanWhite готов бесконечно промышлять добычей ресурсов в МП, Drakonchik со вкусом юного Архитектора обустраивает окрестности, а Micsupremme выступает как душа компании. ;)</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/AllanWhite-01.jpg" data-lightbox="AllanWhite" data-title="Убежище игроков в горе" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/AllanWhite-02.jpg" data-lightbox="AllanWhite" data-title="Современный дом!?"></a>
                                    <a href="/media/projects/AllanWhite-03.jpg" data-lightbox="AllanWhite" data-title="Замок игрока Drakonchik"></a>
                                    <a href="/media/projects/AllanWhite-04.jpg" data-lightbox="AllanWhite" data-title="Тропа от замка к городу"></a>
                                    <a href="/projects/AllanWhite/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix team epic col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-10-12">
                            <figure>
                                <img alt="" src="/media/projects/metro-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Адский метрополитен</h3>
                                    <span>Грандиозный проект игроков нашего сервера - метро в Нижнем мире для относительно быстрого перемещения по миру Выживания. Выкопаны игроками лично, без какой либо помощи администратора, команд WE или читов. Благодаря усилиям главного архитектора, господина MrMalcoln-а и слаженной работе команды Адских термитов - сий масштабный проект позволил отказаться от варпов в Мире Выживания и быть серверу ещё более "ванильным". Даёшь никаких РТП или варпов в мире Выживания!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/metro-01.jpg" data-lightbox="metro" data-title="Тоннели метро в Нижнем мире" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/metro-02.jpg" data-lightbox="metro" data-title="Старая ветка метро"></a>
                                    <a href="/media/projects/metro-03.jpg" data-lightbox="metro" data-title="Купол станции метро Болото"></a>
                                    <a href="/media/projects/metro-04.jpg" data-lightbox="metro" data-title="Купол станции метро Тёмный лес"></a>
                                    <a href="/media/projects/metro-05.jpg" data-lightbox="metro" data-title="Купол станции метро Джунгли"></a>
                                    <a href="/media/projects/metro-06.jpg" data-lightbox="metro" data-title="Купол станции метро Тайга"></a>
                                    <a href="/media/projects/metro-07.jpg" data-lightbox="metro" data-title="Купол станции метро Лес"></a>
                                    <a href="/projects/MrMalcoln/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private big col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-10-11">
                            <figure>
                                <img alt="" src="/media/projects/ivsbik-03.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Замок на скале</h3>
                                    <span>Серый кардинал, господин ivsbik сумел таки возвести величественный замок на скалистом утёсе. Мрачный и таинственный замок по ночам напоминает смесь замка Иф и убежище Синей Бороды. Остерегайтесь, гуляя по подземельям замка! ;)</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/ivsbik-01.jpg" data-lightbox="ivsbik" data-title="У подножья замковой горы" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/ivsbik-02.jpg" data-lightbox="ivsbik" data-title="Ночью здесь лучше не гулять"></a>
                                    <a href="/media/projects/ivsbik-03.jpg" data-lightbox="ivsbik" data-title="Замок на горе, общий вид"></a>
                                    <a href="/media/projects/ivsbik-04.jpg" data-lightbox="ivsbik" data-title="Вид с высоты птичьего полёта"></a>
                                    <a href="/projects/ivsbik/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private big col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-10-06">
                            <figure>
                                <img alt="" src="/media/projects/olenkanik-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Храм Умиротворения</h3>
                                    <span>Очень скромный и крайне лояльный игрок нашего сервера olenkanik уже который месяц (год?) трудится над вершиной своего творения - храмом Умиротворения. Очень светлый, величественный и неповторимый храм на далёком острове, посреди теплого океана. Посторонним вход воспрещён!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/olenkanik-01.jpg" data-lightbox="olenkanik" data-title="Храм у теплого моря" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/olenkanik-02.jpg" data-lightbox="olenkanik" data-title="Вид на храм с моря"></a>
                                    <a href="/media/projects/olenkanik-03.jpg" data-lightbox="olenkanik" data-title="Внутренняя зала"></a>
                                    <a href="/media/projects/olenkanik-04.jpg" data-lightbox="olenkanik" data-title="Центральная часть храма"></a>
                                    <a href="/projects/olenkanik/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private big col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-09-13">
                            <figure>
                                <img alt="" src="/media/projects/Qiwer-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Замок неизвестного феодала</h3>
                                    <span>Стремительно растущий город игрока Qiwer_ среди тропических джунглей и окружающий его сонм крестьянских и помещичьих владений вперемешку с загадочными площадками. Необычный биом только придает индивидуальной постройке свою толику интереса, а крыши, выполненные из красной черепицы отлично гармонируют с тропической местностью. Стиль отлично выдержан!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/Qiwer-01.jpg" data-lightbox="Qiwer" data-title="Общий вид поселения" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/Qiwer-02.jpg" data-lightbox="Qiwer" data-title="Замок феодала"></a>
                                    <a href="/media/projects/Qiwer-03.jpg" data-lightbox="Qiwer" data-title="Укрепленная зона для вассалов"></a>
                                    <a href="/projects/Qiwer/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private big col-md-6 col-xs-12" data-myorder="1" data-published-date="2018-06-15">
                            <figure>
                                <img alt="" src="/media/projects/kornelius-01.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Городок Скруджа МакКорнелиуса</h3>
                                    <span>Обширнейший городок среди гор от игрока kornelius. Впечатляющие строения вперемешку с арт объектами и бесконечными фермами, сортировщиками, игровыми автоматами и бескрайными полями-огородами. Особая мешанина стилей, назначений и смысла, порой диспропорциональные постройки не умиляют заслуг одного из самых производительных строителей нашего сервера.</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="/media/projects/kornelius-01.jpg" data-lightbox="Qiwer" data-title="Общий вид поселения" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="/media/projects/kornelius-02.jpg" data-lightbox="Qiwer" data-title="Главная площадь города"></a>
                                    <a href="/media/projects/kornelius-03.jpg" data-lightbox="Qiwer" data-title="Фонтан на главной площади города"></a>
                                    <a href="/media/projects/kornelius-04.jpg" data-lightbox="Qiwer" data-title="Арт объект"></a>
                                    <a href="/projects/kornelius/" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="gap"></div>
                        <div class="gap"></div>
                        <div class="gap"></div>
                    </div>

                </div>
                <!-- /.col-md-12 -->

            </div>    
        </div>
        <!-- /.row -->
    </div>
