        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="title">
                        <h2>Проекты на сервере</h2>
                        <div class="sep-container">
                            <div class="sep line-sep">∎</div>
                        </div>
                        <p class="text-center">
                            Искусство самовыражения,<br> или как создать что-то по настоящему эпичное
                        </p>
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col-md-12">
                    <p class="text-center">
                        Всё просто - собери команду и забахай что-нить достойно-эпичненькое. И будет всем счастье, а тебе почет и уважение.
                    </p>

                    <div class="controls" align="center">
                        <button class="btn btn-default filter" data-filter="all">Все</button>
                        <button class="btn btn-default filter" data-filter=".team">Командные</button>
                        <button class="btn btn-default filter" data-filter=".private">Личные</button>
                        <button class="btn btn-default filter" data-filter=".big">Большие</button>
                        <button class="btn btn-default filter" data-filter=".epic">Эпичные</button>
                    </div>    

                    <div class="mob-projects">

                        <div class="mix epic col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-16">
                            <figure>
                                <img alt="" src="/media/contest-08-17-4.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Спавн сервера MOB</h3>
                                    <span>jar9 && WaterDemon. Эпичная постройка от автора Jar9 <a href="https://www.minecraft-schematics.com/user/jar9/" rel="no-follow">jar9</a> с дальнейшей адаптацией игрока WaterDemon. Масштабный по своим размерам замок с проработанным интерьером, магазином "На спавне" и телепоратми по биомам!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>


                        <div class="mix team col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-21">
                            <figure>
                                <img alt="" src="/media/mob-adventure-tc07-rs.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Город Герцога Мао</h3>
                                    <span>Обширный город Майнбург в стиле средневековья с замком, с гостиницей, лавками, жилыми домами и прочим.</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-13">
                            <figure>
                                <img alt="" src="/media/mob-adventure-tc01-rs.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Торговый центр игроков</h3>
                                    <span>Торговая площадь с небольшими магазинами для игроков по форме и многим деталям напоминающая караван-сарай в г. Оренбург. Каждый желающий открыть свою торговую точку сможет претендовать на выделенную торговую палатку или комнату под свой магазин. Цель - общая удобная и слаженная торговля между игроками</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix epic big col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-16">
                            <figure>
                                <img alt="" src="/media/contest-08-17-4.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Спавн сервера MOB</h3>
                                    <span>Jim && WaterDemon. Эпичная постройка от автора Jim с дальнейшей адаптацией игрока WaterDemon. Масштабное по своим размерам строение с проработанным интерьером, магазином "На спавне" и телепоратми по биомам!</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>


                        <div class="mix epic col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-21">
                            <figure>
                                <img alt="" src="/media/mob-adventure-tc07-rs.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Город Герцога Мао</h3>
                                    <span>Обширный город Майнбург в стиле средневековья с замком, с гостиницей, лавками, жилыми домами и прочим. Более подробно - жду Мао</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>

                        <div class="mix private col-md-6 col-xs-12" data-myorder="1" data-published-date="2017-09-13">
                            <figure>
                                <img alt="" src="/media/mob-adventure-tc01-rs.jpg" class="img-responsive img-rounded">
                                <figcaption>
                                    <h3>Торговый центр игроков</h3>
                                    <span>Торговая площадь с небольшими магазинами для игроков по форме и многим деталям напоминающая караван-сарай в г. Оренбург. Каждый желающий открыть свою торговую точку сможет претендовать на выделенную торговую палатку или комнату под свой магазин. Цель - общая удобная и слаженная торговля между игроками</span>
                                </figcaption>
                                <div class="blur_bg">
                                    <a href="#" class="view_link"><i class="fa fa-eye"></i></a>
                                    <a href="#" class="goto_link"><i class="fa fa-link"></i></a>
                                </div>
                            </figure>
                        </div>


                        <div class="gap"></div>
                        <div class="gap"></div>
                        <div class="gap"></div>
                    </div>

                </div>
                <!-- /.col-md-12 -->

            </div>    
        </div>
        <!-- /.row -->
    </div>

